<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mumu-架构师测试QVM</title>
    <style media="screen">
      *[v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <!-- <h1>欢迎使用QVM  ^_^!</h1> -->
    <!-- <div  class="box aaa" v-show="aaa" v-if="bb" v-once  title="aa" :a="12" :a="5" v-bind:title="a+b" v-bind:value="b"  @click="fn(12,5)"> -->
    <!-- <div id="root" v-cloak> -->
    <div id="root">
      <!-- filter过滤 -->
      <!-- <div v-for="item,index in filterArr">
        {{index}}--{{item.id}} --{{item.money}}
      </div> -->


      <!-- ref="ccc"调用 -->
      <!-- <div class="b"></div>
      <i class="a"></i> -->
      <qrow ref="ccc"></qrow>
      <q-row ref="ccc"></q-row>


      <!-- 全局组件 -->
      <!-- <cmp1 ref="ccc"></cmp1> -->

      <!-- router -->
      <!-- <router-link to="/a">页面1</router-link>
      <router-link to="/b">页面2</router-link>
      <router-link to="/c">页面3</router-link>
      {{$route.path}} {{$route.meta}}
      <router-view></router-view>
      <router-view></router-view>
      <router-view></router-view> -->
      <!-- sore调用 -->
      <!-- <cmp1></cmp1>
      <cmp2></cmp2>
      <button type="button" @click="$store.dispatch('setA',9999)">外部调用store</button> -->

      <!-- 组件中的select默认选不中 -->
      <!-- <cmp2>
        <select>
          <option  :selected="index==1?'true':''" v-for="item,index in arr" >{{item}}</option>
        </select>
        <div>123456
          <ul>
            <li>aaa</li>
            <li>bbb</li>
          </ul>
        </div>
      </cmp2> -->

      <!-- select 循环默认选中 -->
      <!-- <select>
        <option  :selected="index==1?'true':''" v-for="item,index in arr" >{{item}}</option>
      </select> -->
      <!-- component -->
      <!-- <div>
        <cmp>11</cmp>
      </div> -->

      <!-- computed -->
      <!-- {{a}}+{{b}}={{sum}} -->

      <!-- watch -->
      <!-- {{a}}--{{b}}
      <button type="button" @click="fn6()">按钮</button> -->

      <!-- for+model -->
      <!-- {{arr}}
       <div v-for="item,index in arr" >
        <input type="text"  v-model="arr[index]">
      </div> -->

      <!-- for -->
      <!-- <div v-for="item,index in arr" >
        {{item}}--{{index}}
      </div> -->

      <!-- on -->
      <!-- <button type="button" @click="fn5">显示隐藏</button>
      <div v-if="show">内容内容内容内容内容内容内容内容</div>
      <br />
      <br />
      <input v-href="https://www.baidu.com" type="text" />
      <br />
      <br />
      {{12+5+fn3()}}
      <br />
      <br />
      <input type="text" v-model="a"/>
      <input type="text" v-model="a"/>
      <input type="text" v-model="a"/>
      <br />
      <br />
      {{a}}
      <button type="button" @click="fn1()">按钮1</button>
      <button type="button" @click="fn2()">按钮2</button><br />
      a={{a}},b={{b}}<br />
      加在一起={{a+b}}<br />
      <input type="text" v-bind:value="a+b" /><br />
      <a href="javascript:;" @click="a=$event.clientX">a++</a><br />
      <hr/>
      <button type="button" @click="fn">按钮</button>
      <div class="" v-html="html"></div>
      <div class="" v-text="str"></div>
      <span class="" v-show="show"> aaaaaaaaaaaa </span> -->
    </div>
  </body>
  <script src="/qvm.js" charset="UTF-8">
  </script>
</html>
